.homeDiv{
  display: grid;
  justify-content: center;
  align-items: center;
}

.progressBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 1rem;
  border-width: 2px;
  border-color: blue;
  border-style: solid;
  background-color: lightskyblue;
  color: black;
  font-weight: 500;
  font-size: medium;
  width: max-content;
  padding: 4px ;
}

.barText {
  padding: 8px 20px;
  border-right: 2px dashed  black; 
  cursor: pointer;
}
